<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поисковик на ElasticSearch</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1> Список всех записей в ElasticSearch </h1>
    <table class="table table-striped table-responsive-md table-bordered">
        <thead>
        <tr>
            <th> Имя статьи</th>
            <th> Текст статьи</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="record : ${listOfRecords}">
            <td th:text="${record.title}"></td>
            <td th:text="${record.text}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>